<div id="container">
	<div id="sidebar">
		<div class="spacer">
			<div class="logo">
				<h1>Crossover</h1>
			</div>
			<h1>Stats</h1>
			<h2>Basic</h2>
			<ul>
				<li>{{money}}</li>
				<li>{{outflow}}</li>
				<li>{{level}}</li>
			</ul>
			<h2>{{total}} Followers</h2>
			<ul>
				<li>FS: {{facespace}}</li>
				<li>TB: {{tweetbook}}</li>
				<li>W: {{wumbler}}</li>
			</ul>
		</div>
	</div>
	<div id="content">
		<header>
			<div class="stats">
				<h2>{{date}}</h2>
			</div>
		</header>
		<div class="spacer">
			{{outlet}}
		</div>
	</div>
</div>
<div class="footer">
</div>