<div id="container">
	<div id="sidebar">
		<div class="spacer">
			<div class="logo">
				<h1>Crossover</h1>
			</div>
			<h1>Stats</h1>
			<h2>Bank: ${{cents_to_dollars office.bank}}</h2>
			<ul>
				<li>+ ${{cents_to_dollars office.money_incoming}} / day</li>
				<li>- ${{cents_to_dollars office.money_outgoing}} / week</li>
			</ul>
			<h2>{{office.followers}} Followers</h2>
			<h2>Office</h2>
			<ul>
				<li>Rent: ${{cents_to_dollars office.cost_of_rent}}</li>
				<li>Employees: {{office.employees.length}}</li>
				<li>Capacity: {{office.capacity}}</li>
				<li>Techie: {{#if office.techie}}{{office.techie.name}}{{else}}None{{/if}}</li>
				<li>Uptime: {{office.website_uptime_formatted}}</li>
			</ul>
			{{#if can_upgrade}}
			<a href="#" class="btn btn-sidebar" {{action "upgrade" target="office"}}>Upgrade</a>
			{{/if}}
			{{#if can_downgrade}}
			<a href="#" class="btn btn-sidebar" {{action "downgrade" target="office"}}>Downgrade</a>
			{{/if}}
		</div>
	</div>
	<div id="content">
		<header>
			<div class="stats">
				<h2>{{date}}</h2>
			</div>
		</header>
		<div class="spacer">
			{{outlet}}
		</div>
	</div>
</div>
<div class="footer">
</div>