<div id="container">
	<div id="sidebar">
		<div class="spacer">
			<div class="logo">
				<h1>Crossover</h1>
			</div>
			<h1>Stats</h1>
			<h2>Basic</h2>
			<ul>
				<li>${{cents_to_dollars office.money_incoming}} per week</li>
				<li>${{cents_to_dollars office.money_outgoing}} per week</li>
				<li>{{office.level}}</li>
			</ul>
			<h2>{{followers_total}} Followers</h2>
			<ul>
				<li>FS: {{followers_facespace}}</li>
				<li>TB: {{followers_tweetbook}}</li>
				<li>W: {{followers_wumbler}}</li>
			</ul>
		</div>
	</div>
	<div id="content">
		<header>
			<div class="stats">
				<h2>{{date}}</h2>
			</div>
		</header>
		<div class="spacer">
			{{outlet}}
		</div>
	</div>
</div>
<div class="footer">
</div>