<h2>Dashboard</h2>


<div class="dashboard-section stories">
    <h2>Stories</h2>
    <h4>Stories in Progress</h4>

    <ul>
    {{#each story in model.stories}}
        <li class="dashboard-story">
            <h3>{{story.title}}</h3>
            <div class="progress">
                <div class="value" {{bind-attr style=story.progressStyle}}></div>
            </div>
            <h4>{{story.world1}} x {{story.world2}}</h4>
        </li>
    {{/each}}
    </ul>

    <div>
        {{#link-to "newStory" class="btn btn-xlarge"}}Add New Story{{/link-to}}
    </div>
</div>

<div class="dashboard-section team">
    <h2>Team</h2>

    <h4>Current Team</h4>
    <ul>
    {{#each employee in controllers.app.office.employees}}
        <li class="dashboard-employee">
            <table>
            <tr>
            <td class="icon">
                <div class="icon">

                </div>
            </td>
            <td class="name">
                <h5>{{employee.name}}</h5>
                <h6>{{employee.rank}}</h6>
            </td>
            <td class="opts">
                <a href='#' {{action 'assign_techie' employee target='controller'}} class="btn btn-small">✗ Make Techie</a>
            </td>
            {{#unless employee.you}}
            <td class="opts">
                    <a href='#' {{action 'fire' employee target='controller'}} class="btn btn-small btn-red aj-fire-button">✗ Fire</a>
            </td>
            {{/unless}}
            </tr>
            </table>
         </li>
    {{/each}}
    </ul>

    <div>
        {{#link-to "hire" class="btn btn-xlarge"}}Hire New Team Member{{/link-to}}
    </div>
</div>

<div class="dashboard-section pageviews">
    <h2>Website Stats</h2>
    <p>Pageviews: {{model.stats.pageviews}}</p>
    <canvas width="300" height="150">
        Your browser doesn't support canvas which means you probably can't see this page anyway. I could say whatever I want about you. Your mother was a hamster and your father smells of elderberries
    </canvas>
</div>