<h2>Dashboard</h2>


<div class="dashboard-section stories">
    <h2>Stories{{#if controllers.app.office.projects_past}}
        {{#link-to 'history' class="btn btn-float-right"}}View Past Projects{{/link-to}}
    {{/if}}</h2>
    <h4>Stories in Progress</h4>

    {{#if controllers.app.office.projects_current}}
    <ul>
    {{#each story in controllers.app.office.projects_current}}
        <li class="dashboard-story">
            <h3>{{story.title}}</h3>
            <div class="progress">
                <div class="value" {{bind-attr style=story.progressStyle}}></div>
            </div>
            <h4>{{story.world1.name}} x {{story.world2.name}}</h4>
            {{#if story.ready}}
                <a href="#" class='btn btn-finish' {{action 'finish_story' story}}>
                    Finish!
                </a>
            {{/if}}
        </li>
    {{/each}}
    </ul>
    {{else}}
        <ul>
            <li class='dashboard-story'>
                You don't have any stories at the moment :(
            </li>
        </ul>
    {{/if}}
    <div>
        {{#if controllers.app.office.employees_available.length}}
            {{#link-to "newStory" class="btn btn-xlarge" classNameBindings="controllers.app.office.employees_available.length:enabled:disabled"}}Add New Story{{/link-to}}
        {{else}}
            <a class="btn btn-xlarge disabled">Add New Story</a>
        {{/if}}
    </div>
</div>

<div class="dashboard-section team">
    <h2>Team</h2>

    <h4>Current Team</h4>
    <ul>
    {{#each employee in controllers.app.office.employees}}
        <li class="dashboard-employee">
            <table>
            <tr>
            <td class="icon">
                <img {{bind-attr src="employee.avatar"}} class='icon' />
            </td>
            <td class="name">
                <h5>{{employee.name}}{{#if employee.busy}} (Busy){{/if}}</h5>
                <h6>{{employee.rank}}
                    {{#if employee.techie}}(Techie) <a href="#" {{action 'unassign_techie' employee target="controller"}}>Unassign</a>{{/if}}
                </h6>
                <div class="dashboard-employee-stats">
                <span class="stat">
                    Creativity: {{employee.creativity}}
                </span>
                <span class="stat">
                    Grammar: {{employee.grammar}}
                </span>
                <span class="stat">
                    Organization: {{employee.charisma}}
                </span>
                <span class="stat">
                    Math: {{employee.math}}
                </span>
                <span class="stat">
                    Dexterity: {{employee.digital_dexterity}}
                </span>
                </div>
            </td>
            {{#unless employee.you}}
                {{#unless employee.busy}}
                <td class="opts">
                    <a href='#' {{action 'assign_techie' employee target='controller'}} class="btn btn-small aj-techie-button">Make Techie</a>
                    <a href='#' {{action 'fire' employee target='controller'}} class="btn btn-small btn-red aj-fire-button">✗ Fire</a>
                </td>
                {{/unless}}
            {{/unless}}
            </tr>
            </table>
         </li>
    {{/each}}
    </ul>

    <div>
        {{#link-to "hire" class="btn btn-xlarge"}}Hire New Team Member{{/link-to}}
    </div>
</div>

<div class="dashboard-section pageviews">
    <h2>Website Stats</h2>
    <p>Pageviews: {{controllers.app._views}}</p>
    <canvas id="dashboard-canv" width="500" height="250">
        Your browser doesn't support canvas which means you probably can't see this page anyway. I could say whatever I want about you. Your mother was a hamster and your father smells of elderberries
    </canvas>
</div>