<div class="new-story">
{{#with newStory}}
	<div>{{view Ember.TextField valueBinding="title" type="text" placeholder="Title"}}</div>
	<div>
		<h3>What genre is this story?</h3>
		{{view App.SelectField valueBinding="genre"
			contentBinding="App.Genres"
			prompt= "Select Genre...."
		}}
	</div>
	<h3>Select Two Worlds to Crossover</h3>
	<div class="world-choices">
		{{#each controller.worldChoices}}
			{{#view App.WorldChoiceView}}
				{{this.name}}
			{{/view}}
		{{/each}}
		<div style="clear:left"></div>
	</div>
	<table class="new-story choice-container">
		<tr>
			<td style="width: 40%;">
				<h3>Who's writing this story?</h3>
				<div class="role-choice">
					{{#if author}}
							<div class="role-choice selected">
							{{author.name}}
							<a href='#' class="btn remove-btn" {{action "cancelAuthor"}}>Remove</a>
						</div>
					{{else}}
						{{view App.SelectField
							selection = author
							contentBinding="controller.myAvailableTeam"
							optionLabelPath="content.name"
							prompt= "Select Writer..."
							class="role-select"
						}}
					{{/if}}
				</div>
				<div style="clear: left; height: 50px; width: 100%;"></div>
				<h3>Who else should work on this story?</h3>
				<h4>(optional)</h4>
				<div class="role-choices">
					<div class="role-choice">
						Editor<br>
						{{#if editor}}
							{{editor.name}}
							<button {{action "cancelEditor"}}>Cancel</button>
						{{else}}
							{{view App.SelectField
								selection = editor
								contentBinding="controller.myAvailableTeam"
								optionLabelPath="content.name"
								prompt= "Select Editor..."
								class="role-select"
							}}
						{{/if}}
					</div>
					<div class="role-choice">
						Artist<br>
						{{#if artist}}
							<div class="role-choice selected">
								{{artist.name}}
								<button {{action "cancelArtist"}}>Cancel</button>
							</div>
						{{else}}
						{{view App.SelectField
							selection = artist
							contentBinding="controller.myAvailableTeam"
							optionLabelPath="content.name"
							prompt= "Select Artist..."
							class="role-select"
						}}
						{{/if}}
					</div>
					<div class="role-choice">
						Promoter<br>
						{{#if promoter}}
							{{editor.promoter}}
							<button {{action "cancelPromoter"}}>Cancel</button>
						{{else}}
							{{view App.SelectField
								selection = promoter
								contentBinding="controller.myAvailableTeam"
								optionLabelPath="content.name"
								prompt= "Select Promoter..."
								class="role-select"
							}}
						{{/if}}
					</div>
				</div>
			</td>
			<td>
				<h3>Available Team Members</h3>
				<div class="team-choices">
					{{#each controller.myAvailableTeam itemViewClass="App.TeamMemberSelector"}}
						<div class="icon"></div>
						{{name}}<br>
						Creativity: {{creativity}}
					{{/each}}
				</div>
			</td>
		</tr>
	</table>

{{/with}}

{{#if showCreateButton}} <button {{action "createStory"}}> DO IT!</button>{{/if}}
</div>